@model IList<Park>
@{
    ViewData["Title"] = "SurveyResult";
}
<div>
    @foreach (Park park in Model)
    {
        if (park.Surveys.Count > 0)
        {
            <div>
                <img src="~/images/@(park.ParkCode).jpg" />
                <p>@park.ParkName</p>
                <p>Favorited: @park.Surveys.Count</p>
            </div>
        }
    }
</div>

